/** {
	margin: 0;
	padding: 0;
	border: 1px solid black;
}*/

body {
    text-align: center;
}

h1 {
    font-family: Monoton;
    font-size: 70px;
    margin: 0.2em;
}

h2 {
    margin: 1em 0 0.25em;
}

.controls {
	display: flex;
	margin: 10px auto;
	width: 40%;
	justify-content: center;
}

.form-group {
	clear: right;
	overflow: auto;
}

table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 20px;
}

td {
    width: 20px;
}

form,
.tools {
	margin: 10px 20px;
	padding: 5px;
}

input[type=number] {
    width: 6em;
	float: right;
}

input[type=submit] {
	margin: 10px auto;
}